streamlit
phi
google-generativeai
python-dotenv
openai-whisper
spacy
transformers
torch
opencv-python
phidata 
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
openai
sqlalchemy
pgvector
psycopg[binary]
pypdf
streamlit
phidata
google-generativeai
duckduckgo-search